#gameboard{
    width:320px ;
    height: 320px ;
    display: flex;
    flex-wrap: wrap;
}


.square{
    height: 40px;
    width: 40px;
    position: relative;
}

.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -2;
}

.path{
    position: relative;
    z-index: -3;
}
.piece{
    position: relative;
    z-index: 3;

}
.beige{
  background-color: rgb(112, 112, 47);
}

.brown{
  background-color: rgb(159, 36, 36);

}

.black{
    fill: rgb(7, 7, 7);
}
.white{
    fill: white;
}